
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Livvic";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;

}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Livvic";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Livvic";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Livvic";
}


.table-view {
    -fx-base: #F0F3F5;
    -fx-control-inner-background: #F0F3F5;
    -fx-background-color: #F0F3F5;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Livvic";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}




.grid-pane {
    -fx-background-color: #F0F3F5;
    -fx-border-color: #F0F3F5;
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: #F0F3F5;
}


.dialog-pane {
    -fx-background-color: #F0F3F5;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #F0F3F5;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: black;
    -fx-text-fill: black;
}


#cardPane {
    -fx-background-color: #F0F3F5;
    -fx-border-width: 0;
}


#filterField, #studentListPanel, #studentWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}


